<div layout="column" ng-cloak>
  <md-content flex layout-padding class="center-form">

    <h2 style="margin-bottom: 0">Use your credentials to login</h2>

    <md-content flex layout-padding >
      <form name="registeruser" style="text-align: left">
        <div ng-messages="ctrl.errMsg" role="alert" class="myerror" style="text-align: right" >
          <div ng-repeat="(key, value) in ctrl.errMsg">
            <div ng-message-exp="key" >
              {{ value }}
            </div>
          </div>
          <br>
        </div>

        <md-input-container class="md-block" flex-gt-xs>
          <label>Email</label>
          <input ng-model="ctrl.user.email" type="email" name="usremail" 
          ng-pattern="/^.+@.+\..+$/" required>
          <div ng-messages="registeruser.usremail.$error" role="alert" >
            <div ng-message="required">Please enter a value for this field.</div>
            <div ng-message-exp="['email', 'pattern']">This field must be a valid email address.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-xs>
          <label>Password</label>
          <input ng-model="ctrl.user.password" type="password" name="password"
          minlength="6" required>
          <div ng-messages="registeruser.password.$error" role="alert" >
            <div ng-message="required">Please enter a value for this field.</div>
            <div ng-message-exp="['minlength']">
              This fild length most be more than six characters
            </div>
          </div>
        </md-input-container>

        <div class="buttons" style="text-align: center;">
          <md-button class="md-raised md-primary md-hue-2" aria-label="registar" 
            type="submit"
            ng-click="ctrl.login()" ng-disabled="!registeruser.$valid || ctrl.busy">
            Sign in
          </md-button>

          <br><br>

          <span>Have't you an account yet? <span ng-click="goTo('/register')" class="link">Sign up</span> </span>

          <br><br>

          <md-button class="md-fab md-warn" aria-label="register google"
            ng-click="ctrl.GGregister()" >
            GG
          </md-button>

          <md-button class="md-fab md-primary" aria-label="register facebook"
            ng-click="ctrl.Fregister()">
            FB
          </md-button>

        </div>



      </form>
    </md-content>

  </md-content>
</div>
